.App {
  text-align: center;
  background: radial-gradient(farthest-corner at 10vw -10vh, white, rgb(152, 103, 245), rgb(255, 99, 99), rgb(255, 135, 80), white, white);
  width:100vw;
  overflow:hidden;
  background-size: 200% 200%;
	animation: gradient 20s ease infinite;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.Gradient{
  background: radial-gradient(farthest-corner at 10vw -10vh, white, rgb(152, 103, 245), rgb(255, 99, 99), rgb(255, 135, 80), white, white);
}

a{
  color:black;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
